{% include base_path %}


<div class="{{ include.type | default: "list" }}__item">
    <article class="publication__item" itemscope itemtype="http://schema.org/CreativeWork">

        <!-- {% if post.teaser %}
            <div class="publication__item-teaser">
            <img src=
                "{{ post.teaser | prepend: "/images/" | prepend: base_path }}"
                alt="">
            </div>
        {% endif %} -->

        <p>
        {% if post.venue %}
            ({{ post.venue }})
        {% endif %}
        {{ post.title }}
        </p>

        {% if post.paperurl or post.dataurl or post.codeurl or post.projecturl %}
            <p>
            {% if post.paperurl %}
                <a href="{{ post.paperurl }}" class="text_link">PDF</a></p>
            {% endif %}
            {% if post.dataurl %}
                <a href="{{ post.dataurl }}" class="text_link">Dataset</a>
            {% endif %}
            {% if post.codeurl %}
                <a href="{{ post.codeurl }}" class="text_link">Code</a>
            {% endif %}
            {% if post.projecturl %}
                <a href="{{ post.projecturl }}" class="text_link">Project</a>
            {% endif %}
            </p>
        {% endif %}

    </article>
</div>
