{% include base_path %}


<div class="{{ include.type | default: "list" }}__item">
    <article class="publication__item" itemscope itemtype="http://schema.org/CreativeWork">

        {% if post.teaser %}
            <div class="publication__item-teaser">
            <img src=
                "{{ post.teaser | prepend: "/images/" | prepend: base_path }}"
                alt="">
            </div>
        {% endif %}

        <p>
        {% if post.venue %}
            ({{ post.venue }})
        {% endif %}
        {{ post.title }}
        </p>

        <p>
            {% for author in site.data.authors %}
                {{ author.name }}
            {% endfor %}
        </p>

        {% if post.paperurl %}
            <p><a href="{{ post.paperurl }}">PDF</a></p>
        {% endif %}

    </article>
</div>
